
<script src="~/Scripts/custom-scripts/configuration/field-version-details.js?rndstr=<%= getRandomStr() %>"></script>
<script src="~/Scripts/custom-scripts/helper-methods.js?rndstr=<%= getRandomStr() %>"></script>

<br />
<button class="btn btn-custom" data-toggle='modal' data-target='#add-field-vers-detail'>Dodaj</button>

<table id="field-version-detals-tbl" class="table table-hover">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Tip</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<!-- Modal add -->
<div id="add-field-vers-detail" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title">Dodavanje</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Naziv polja: </label> &nbsp;
                    <input type="text" class="form-control" id="field-name" />
                </div>
                <div class="form-group">
                    <label>Dužina polja: </label> &nbsp;
                    <input type="text" class="form-control" id="field-length" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom" onclick="confirmAddDetail()">Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
            </div>
        </div>

    </div>
</div>



<!-- Modal delete -->
<div id="delete-field-vers-detail-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title">Brisanje</h4>
            </div>
            <div class="modal-body">
                <input hidden type="text" id="version-detail-index" />
              <p>Da li ste sigurni da želite obrisati zapis?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom" id="confirm-delete-version-detail-btn">Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
            </div>
        </div>

    </div>
</div>