<ul class="list-group">
    <li class="list-group-item"><b>CheckITUT</b> – provjerava da li je polje u ITUT formatu, tj da li polje počinje sa “387”.</li>
    <li class="list-group-item"><b> DateTimeFormat</b> – provjerava da li je datum koji se nalazi unutar fajla u odgovarajućem formatu koji je definisan u konfiguraciji./li>
    <li class="list-group-item"><b> IsPositive</b> – provjerava da li je vrijednost polja pozitivna./li>
    <li class="list-group-item"><b> CheckUnitType</b> – provjerava koja je od dvije moguće vrijednosti (minuta ili sekunda) upisana u ulazno polje UnitType./li>
    <li class="list-group-item"><b> IsNumeric</b> – provjerava da li je dato polje u numeričkom formatu, tj. da li sadrži bilo kakve karaktere koji nisu brojevi./li>
    <li class="list-group-item"><b> Status</b> – provjerava vrijednosti unutar ulaznog polja “Status”, koje može sadržavati samo dvije vrijednosti ([0] ili [11])./li>
    <li class="list-group-item"><b> Service</b> – provjerava vrijednosti unutar ulaznog polja “Service”, koje može da sadrži ili “-“ ili neki numerički string./li>
    <li class="list-group-item"><b> CheckTelMd</b> – provjerava vrijednosti unutar polja “B_Number” koje mora počinjati sa “0962” ili “00387962”, i ne smije sadržavati bilo kakve druge karaktere osim brojeva./li>
    <li class="list-group-item"><b> TimeFormat</b> – provjerava da li je datum u odgovarajućem datumskom formatu gdje su datum i vrijeme odvojeni u dva odvojena polja./li>
    <li class="list-group-item"><b> CheckAForVAS</b> – provjerava vrijednosti unutar ulaznog polja “A_Number” koje može da sadrži i brojeve i karaktere./li>
</ul>
